<div class="col mt-5">
    <div class="card" style="width: 18rem;">
        <img src="{{myProduct.thumbnail}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{myProduct.title}}</h5>
          <p class="card-text">{{myProduct.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">price:{{myProduct.price}}</li>
          <li class="list-group-item">discountPercentage:{{myProduct.discountPercentage}}</li>
          <li class="list-group-item">rating:{{myProduct.rating}}</li>
          <li class="list-group-item">stock:{{myProduct.stock}}</li>
          <li class="list-group-item">brand:{{myProduct.brand}}</li>
          <li class="list-group-item">category:{{myProduct.category}}</li>
          
        </ul>
      
    </div>
</div>

